<html>
    <head>
    <script type="text/javascript"
        src="{{ url_for('static', filename='utils.js')}}">
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <input class="button button1 logoutButton" type="button" value="Logout" onclick="logout()" />
        <h1 class="title2">Edit text</h1>
        <div class="centered" style="top:50%">
            <h1 class="title3">Current text from {{ diary_instance.date }}:</h1>
            <textarea class="oldTextField" readonly>{{ diary_instance.content }}</textarea>
            <h1 class="title3">Enter your new text here:</h1>
            <form action="/edit/text/{{ diary_index }}" method="post">
                <textarea class="addTextField" name="text">{{ diary_instance.content }}</textarea>
                <input class="button button1" style="margin-top:40px" type="submit" value="Save" />
                <button class="button button1" style="margin-top:40px" type="button" onclick="diary()">Cancel</button>
            </form>
            <p class="errorMessage">{{ error_message }}</p>
        </div>
    </body>
</html>