<html>
    <head>
    <script type="text/javascript"
        src="{{ url_for('static', filename='utils.js')}}">
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Current text from {{ diary_instance.date }}</h1>
        <p>{{ diary_instance.content }}</p>
        <h1>Enter your new text here:</h1>
        <form action="/edit/text/{{ diary_index }}" method="post">
            <input type="text" name="text" />
            <input type="submit" value="Save" />
        </form>
    </body>
</html>