<html>
    <head>
    <script type="text/javascript"
        src="{{ url_for('static', filename='utils.js')}}">
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="centered">
            <h1 class="title">Personal Diary</h1>
            <button class="button button1" onclick="login()">Login</button>
            <button class="button button1" onclick="create()">Create an account</button>
        </div>
    </body>
</html>