<html>
    <head>
    <script type="text/javascript"
        src="{{ url_for('static', filename='utils.js')}}">
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class="centered" style="top:40%">
            <h1 class="title">Personal Diary</h1>
            <button class="button button1" onclick="login()" style="width:500px">Login</button><br>
            <button class="button button1" onclick="create()" style="width:500px">Create an account</button>
            <p class="copyright">© 2021130022 Marvin Chen</p>
        </div>
    </body>
</html>