.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.title {
    font-family: cursive;
    font-size: 500%;
}
.title2 {
    font-size: 400%;
}
.button {
    background-color: #e7e7e7;
    color: black;
    border: 2px solid #e7e7e7;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1:hover {
    background-color: white;
}
.copyright {
    color: gray;
    font-size: 15px;
    margin: 70px;
    text-align: center;
}
#container{width:100%;}
#left{float:left;width:100px;}
#right{float:right;width:100px;}
#center{margin:0 auto;width:100px;}